@import "tailwindcss";

.btn {
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 10px 25px;
	color: #fff;
	transition: 0.4s;
	cursor: pointer;
}

.btn-primary {
	background: rgb(59, 130, 246);
}

.btn-danger {
	background: rgb(239 68 68);
}

.btn-primary:hover {
	background: rgb(22, 100, 243);
}

.btn-danger:hover {
	background: rgb(248, 3, 3);
}

.form-input {
	border-radius: 8px;
	outline: none;
	border: 1px solid rgb(59, 130, 246);
	padding: 10px 25px;
	width: 100%;
	transition: all 0.4s;
}

.form-input:focus {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(22, 100, 243);
}

.user-block {
	position: relative;
}

.tooltip {
	display: none;
	padding-top: 20px;
	border-radius: 5px;
	width: 150px;
	position: absolute;
	top: 100%;
	right: 0;
}

.user-block:hover .tooltip{
	display: block;
}

