@import "tailwindcss";

.container {
	width: 90%;
	margin: 0 auto;
}

.btn {
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 8px;
	color: #fff;
	transition: 0.4s;
	cursor: pointer;
}

@media screen and (min-width: 576px) {
	.btn {
		padding: 10px 25px;
	}
}

@media screen and (min-width: 768px) {
	.btn {
		padding: 12px 30px;
	}
}

@media screen and (min-width: 992px) {
	.btn {
		padding: 14px 35px;
	}
}

.btn-primary {
	background: #067BBE;
}

.btn-danger {
	background: rgb(239 68 68);
}

.btn-primary:hover {
	background: rgb(22, 100, 243);
}

.btn-danger:hover {
	background: rgb(248, 3, 3);
}

.form-input {
	border-radius: 8px;
	outline: none;
	border: 1px solid rgb(59, 130, 246);
	padding: 10px 25px;
	width: 100%;
	transition: all 0.4s;
}

.form-input:focus {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(22, 100, 243);
}

.user-block {
	position: relative;
}

.tooltip {
	display: none;
	padding-top: 20px;
	border-radius: 5px;
	width: 150px;
	position: absolute;
	top: 100%;
	right: 0;
}

.user-block:hover .tooltip{
	display: block;
}

html, body, #root {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1; /* Pushes the footer down */
}

.footer {
	background: #f1f1f1;
	padding: 10px;
	text-align: center;
}

